<div class="login-container">
    <span class="text-container">
        <h1>Login</h1>
        <p>Bem-vindo de volta!</p>
        <p>Bora garantir aquele Dorp antes<br>que acabe?</p>
    </span>

    <form>
        <input type="text" placeholder="Email">
        <div class="password-container">
            <input type="password" placeholder="Senha">
            <button class="hidden-password">
                <i class="fa-solid fa-eye"></i>
                <i i class="fa-solid fa-eye-slash hidden"></i>
            </button>
        </div>

        <a href="#" class="esqueceu-senha">Esqueceu a senha?</a>

        <button class="login-action-btn">Entrar</button>
        <a href="#" class="go-to-cadastro-btn">Não tem conta? Clique aqui!</a>
    </form>
</div>