.produto-card {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  background: #d9d9d9;
  border-radius: 10px;
  padding: 28px;
  box-sizing: border-box;
  font-family: Inter, sans-serif;
  display: flex;
  flex-direction: column;
  gap: 28px;
}

.produto-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  text-align: center;
}

.produto-nome {
  font-size: 38px;
  font-family: "Rowdies", sans-serif;
}

.produto-stars {
  width: 180px;
  height: auto;
}

/*preço*/
.produto-preco {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6px;
  font-size: 20px;
}

.preco-antigo {
  text-decoration: line-through;
  color: #555;
}

.preco-atual {
  font-size: 32px;
  font-weight: 700;
}

.parcelas {
  font-weight: 300;
}

.produto-secao {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.secao-titulo {
  font-size: 20px;
  font-weight: 700;
}

.cor-box {
  width: 120px;
  height: 90px;
  border-radius: 10px;
  overflow: hidden;
  background: #fff;
}

.cor-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/*tamonho*/
.tamanhos-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(65px, 1fr));
  gap: 10px;
}

.tamanho {
  background: #3e3d42;
  color: #fff;
  font-weight: 700;
  padding: 10px 0;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  transition: 0.2s;
}

.tamanho:hover {
  background: #2b2b2e;
}

.quantidade-row {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
  align-items: center;
}

/* quantidade */
.quantidade-box {
  background: rgba(47, 65, 101, 0.8);
  padding: 6px 18px;
  border-radius: 30px;
  display: flex;
  align-items: center;
  gap: 14px;
  width: fit-content;
}

/* BOTÕES + E - */
.qtd-btn {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  border: none;
  background: #ffffff;
  color: #000;
  font-size: 18px;
  font-weight: 700;
  cursor: pointer;
  transition: 0.2s;
}

/* HOVER NOS BOTÕES QUE NÃO ESTÃO DESATIVADOS */
.qtd-btn:hover:not(.disabled) {
  transform: scale(1.1);
  background-color: rgba(255, 255, 255, 0.8);
}

/* BOTÃO DESATIVADO (VISUAL APENAS) */
.qtd-btn.disabled {
  opacity: 0.4;
  cursor: not-allowed;
}

/* NÚMERO NO MEIO */
.qtd-numero {
  font-size: 18px;
  font-weight: 700;
  color: #fff;
  min-width: 20px;
  text-align: center;
}


/*botao de compra */
.btn-comprar {
  flex: 1;
  background: #561010;
  color: white;
  border: none;
  border-radius: 14px;
  padding: 12px;
  font-size: 18px;
  font-weight: 700;
  cursor: pointer;
  transition: 0.2s;
}

.btn-comprar:hover {
  background: #3a0a0a;
}

@media (max-width: 480px) {
  .produto-nome {
    font-size: 30px;
  }

  .btn-comprar {
    font-size: 16px;
  }
}