<div class="cards-marcas">

  <div class="card-marca">
    <img src="/assets/nike.png" alt="Nike" class="card-img">
    <p class="card-nome">Nike</p>
  </div>

  <div class="card-marca">
    <img src="/assets/adidas.png" alt="Adidas" class="card-img">
    <p class="card-nome">Adidas</p>
  </div>

  <div class="card-marca">
    <img src="/assets/puma.png" alt="Puma" class="card-img">
    <p class="card-nome">Puma</p>
  </div>

  <div class="card-marca">
    <img src="/assets/vans.png" alt="Vans" class="card-img">
    <p class="card-nome">Vans</p>
  </div>

</div>