<div class="card-container">
    <figure class="produto-image">
        <img src="assets/asics-gelnyc-gray.svg" alt="Imagem do Produto - Asics Gel-NYC Gray">
    </figure>

    <div class="text-content">
        <span class="marca-produto">Asics</span> <br>
        <span class="nome-produto">Gel-NYC Gray</span>
        <span class="produto-preco">R$899,90</span>
    </div>

    <div class="btns-container">
        <button class="add-cart-btn">Add to Cart</button>
        <button class="buy-now-btn">Buy Now</button>
    </div>
</div>