<h2 *ngIf="title" class="slider-title">{{ title }}</h2>
<div class="slider-container">
    <button class="nav-btn prev" (click)="prev()">&#10094;</button>

    <div class="slider-track-container">
        <div class="slider-track" [style.transform]="transformStyle">
            <div class="slider-item" *ngFor="let product of products">
                <app-product-card [product]="product"></app-product-card>
            </div>
        </div>
    </div>

    <button class="nav-btn next" (click)="next()">&#10095;</button>
</div>