<header>
    <figure class="logo-container">
        <a href="">
            <img src="assets/logo-nome-frontal-sneakers-sfundo.svg" alt="Logo Frontal Sneakers">
        </a>
    </figure>

    <nav class="navigation-container">
        <a href="/">Home</a>
        <a href="/catalog">Produtos</a>
        <a href="/about">Sobre</a>
    </nav>

    <span class="icon-container">
        <a href="/cart"><i class="fa-solid fa-cart-shopping"></i></a>
        <a href="/user"><i class="fa-solid fa-user"></i></a>
    </span>
</header>