.mostruario-1 {
  	width: 100%;
  	height: 2774px;
  	position: relative;
  	border-radius: 15px;
  	background-color: #fff;
  	overflow: hidden;
  	text-align: center;
  	font-size: 24px;
  	color: #000;
  	font-family: Inter;
}
.wallpaper {
  	position: absolute;
  	top: 0px;
  	left: 15px;
  	background-color: rgba(235, 144, 122, 0.1);
  	width: 1889px;
  	height: 2774px;
}
.recomendaes-de-tenis {
  	position: absolute;
  	top: 1782px;
  	left: 96px;
  	width: 1727.8px;
  	height: 690px;
  	font-size: 32px;
}
.card-tenis-1-parent {
  	position: absolute;
  	top: 128px;
  	left: 179px;
  	width: 1380px;
  	height: 562px;
}
.card-tenis-1 {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	width: 392.1px;
  	height: 562px;
}
.card-tenis-1-child {
  	position: absolute;
  	top: 0px;
  	left: 1px;
  	border-radius: 20px;
  	background-color: #d9d9d9;
  	width: 391px;
  	height: 562px;
}
.card-tenis-1-item {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	border-radius: 20px;
  	width: 392.1px;
  	height: 375.9px;
  	object-fit: cover;
}
.r89999 {
  	position: absolute;
  	top: 485px;
  	left: 16px;
  	display: flex;
  	align-items: center;
  	justify-content: center;
  	width: 167px;
  	height: 41px;
}
.tnis-asics-gel-nyc {
  	position: absolute;
  	top: 392px;
  	left: 16px;
  	text-align: left;
  	display: flex;
  	align-items: center;
  	width: 366px;
  	height: 77px;
}
.favoritar-1-icon {
  	position: absolute;
  	top: 14.91px;
  	left: 10.11px;
  	width: 67px;
  	height: 63.9px;
}
.carrinho-1-icon {
  	position: absolute;
  	top: 469px;
  	left: 304px;
  	width: 78.2px;
  	height: 74.5px;
}
.card-tenis-2 {
  	position: absolute;
  	top: 0px;
  	left: 482px;
  	width: 400px;
  	height: 562px;
}
.card-tenis-2-child {
  	position: absolute;
  	top: 0px;
  	left: 1px;
  	border-radius: 20px;
  	background-color: #d9d9d9;
  	width: 399px;
  	height: 562px;
}
.card-tenis-2-item {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	border-radius: 20px;
  	width: 400px;
  	height: 375.9px;
  	object-fit: cover;
}
.mostruario-1-r89999 {
  	position: absolute;
  	top: 485px;
  	left: 22px;
  	display: flex;
  	align-items: center;
  	justify-content: center;
  	width: 164px;
  	height: 41px;
}
.mostruario-1-tnis-asics-gel-nyc {
  	position: absolute;
  	top: 392px;
  	left: 27px;
  	text-align: left;
  	display: flex;
  	align-items: center;
  	width: 357px;
  	height: 70px;
}
.favoritar-2-icon {
  	position: absolute;
  	top: 14.91px;
  	left: 20.51px;
  	width: 68.4px;
  	height: 63.9px;
}
.carrinho-2-icon {
  	position: absolute;
  	top: 469px;
  	left: 304px;
  	width: 79.8px;
  	height: 74.5px;
}
.card-tenis-3 {
  	position: absolute;
  	top: 0px;
  	left: 981px;
  	width: 399px;
  	height: 562px;
}
.card-tenis-3-child {
  	position: absolute;
  	top: 0px;
  	left: 1px;
  	border-radius: 20px;
  	background-color: #d9d9d9;
  	width: 398px;
  	height: 562px;
}
.card-tenis-3-item {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	border-radius: 20px;
  	width: 398.7px;
  	height: 375.9px;
  	object-fit: cover;
}
.r899992 {
  	position: absolute;
  	top: 485px;
  	left: 28px;
  	display: flex;
  	align-items: center;
  	justify-content: center;
  	width: 157px;
  	height: 41px;
}
.tnis-asics-gel-nyc2 {
  	position: absolute;
  	top: 392px;
  	left: 29px;
  	text-align: left;
  	display: flex;
  	align-items: center;
  	width: 358px;
  	height: 42px;
}
.carrinho-3-icon {
  	position: absolute;
  	top: 469px;
  	left: 307px;
  	width: 79.5px;
  	height: 74.5px;
}
.favoritar-3-icon {
  	position: absolute;
  	top: 14.91px;
  	left: 20.45px;
  	width: 68.2px;
  	height: 63.9px;
}
.recomendaes {
  	position: absolute;
  	top: 0px;
  	left: 169px;
  	font-size: 64px;
  	display: flex;
  	align-items: center;
  	justify-content: center;
  	width: 512px;
  	height: 76px;
}
.botoes-de-recomendados {
  	position: absolute;
  	top: 313px;
  	left: 0px;
  	width: 1727.8px;
  	height: 70px;
}
.botoes-de-recomendados-child {
  	position: absolute;
  	top: 0px;
  	left: 1658px;
  	width: 69.8px;
  	height: 70px;
}
.botoes-de-recomendados-item {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	width: 69.8px;
  	height: 70px;
}
.area-da-compra {
  	position: absolute;
  	top: 140px;
  	left: 1235px;
  	width: 600px;
  	height: 794px;
}
.area-da-compra-child {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	border-radius: 10px;
  	background-color: #d9d9d9;
  	width: 600px;
  	height: 794px;
}
.nomeavaliao {
  	position: absolute;
  	top: 27px;
  	left: 35px;
  	width: 530px;
  	height: 103px;
  	font-size: 48px;
  	font-family: Rowdies;
}
.tnis-asics-gel-nyc3 {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	display: flex;
  	align-items: center;
  	justify-content: center;
  	width: 530px;
  	height: 47px;
}
.vecteezy-5-star-rating-review-icon {
  	position: absolute;
  	top: 57px;
  	left: 0px;
  	width: 278px;
  	height: 46px;
  	object-fit: cover;
}
.preoparcelas {
  	position: absolute;
  	top: 157px;
  	left: 49px;
  	width: 293px;
  	height: 77px;
}
.r-89999 {
  	position: absolute;
  	top: 10px;
  	left: 0px;
  	text-decoration: line-through;
  	display: flex;
  	font-weight: 200;
  	align-items: center;
  	justify-content: center;
  	width: 125px;
  	height: 21px;
}
.ou-ate-10x {
  	position: absolute;
  	top: 52px;
  	left: 1px;
  	display: flex;
  	font-weight: 200;
  	align-items: center;
  	justify-content: center;
  	width: 154px;
  	height: 21px;
}
.r-71999 {
  	position: absolute;
  	top: 0px;
  	left: 136px;
  	font-size: 32px;
  	display: flex;
  	align-items: center;
  	justify-content: center;
  	width: 157px;
  	height: 41px;
}
.r-7199 {
  	position: absolute;
  	top: 48px;
  	left: 153px;
  	font-weight: 700;
}
.cor {
  	position: absolute;
  	top: 269px;
  	left: 44px;
  	width: 148px;
  	height: 128px;
}
.mostruario-1-cor {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	font-weight: 700;
}
.adobe-express-file-3-wrapper {
  	position: absolute;
  	top: 38px;
  	left: 0px;
  	border-radius: 10px;
  	background-color: #fff;
  	width: 148px;
  	height: 90px;
  	overflow: hidden;
}
.adobe-express-file-3 {
  	position: absolute;
  	top: -9px;
  	left: 20px;
  	width: 108px;
  	height: 108px;
  	object-fit: cover;
}
.quantidade {
  	position: absolute;
  	top: 611px;
  	left: 44px;
  	width: 526px;
  	height: 99px;
  	color: #fff;
}
.mostruario-1-quantidade {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	font-weight: 700;
  	color: #000;
}
.bt-adicionar {
  	position: absolute;
  	top: 49px;
  	left: 0px;
  	width: 160px;
  	height: 50px;
}
.bt-adicionar-child {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	border-radius: 30px;
  	background-color: rgba(47, 65, 101, 0.6);
  	width: 160px;
  	height: 50px;
}
.frame-icon {
  	position: absolute;
  	top: 10px;
  	left: 12px;
  	width: 30px;
  	height: 30px;
}
.b {
  	position: absolute;
  	top: 15px;
  	left: 73px;
  	display: flex;
  	align-items: center;
  	justify-content: center;
  	width: 12px;
  	height: 18px;
}
.mostruario-1-frame-icon {
  	position: absolute;
  	top: 10px;
  	left: 116px;
  	width: 30px;
  	height: 30px;
}
.bt-compre {
  	position: absolute;
  	top: 49px;
  	left: 186px;
  	width: 340px;
  	height: 50px;
}
.bt-compre-child {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	border-radius: 20px;
  	background-color: #561010;
  	width: 340px;
  	height: 50px;
}
.compre-aqui {
  	position: absolute;
  	top: 10px;
  	left: 94px;
  	font-weight: 800;
}
.seleo-de-tamanhos {
  	position: absolute;
  	top: 418px;
  	left: 44px;
  	width: 532px;
  	height: 157px;
}
.tamanhos {
  	position: absolute;
  	top: 50px;
  	left: 5px;
  	width: 527px;
  	height: 107px;
  	font-size: 20px;
  	color: #fff;
}
.rectangle-parent {
  	position: absolute;
  	top: 67px;
  	left: 333px;
  	width: 83px;
  	height: 40px;
}
.group-child {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	border-radius: 10px;
  	background-color: #3e3d42;
  	width: 83px;
  	height: 40px;
}
.div {
  	position: absolute;
  	top: 8px;
  	left: 28px;
  	font-weight: 900;
}
.rectangle-group {
  	position: absolute;
  	top: 67px;
  	left: 222px;
  	width: 83px;
  	height: 40px;
}
.mostruario-1-div {
  	position: absolute;
  	top: 8px;
  	left: 30px;
  	font-weight: 900;
}
.rectangle-container {
  	position: absolute;
  	top: 67px;
  	left: 111px;
  	width: 83px;
  	height: 40px;
}
.div2 {
  	position: absolute;
  	top: 8px;
  	left: 29px;
  	font-weight: 900;
}
.group-div {
  	position: absolute;
  	top: 67px;
  	left: 0px;
  	width: 83px;
  	height: 40px;
}
.mostruario-1-rectangle-parent {
  	position: absolute;
  	top: 0px;
  	left: 444px;
  	width: 83px;
  	height: 40px;
}
.rectangle-parent2 {
  	position: absolute;
  	top: 0px;
  	left: 333px;
  	width: 83px;
  	height: 40px;
}
.rectangle-parent3 {
  	position: absolute;
  	top: 0px;
  	left: 222px;
  	width: 83px;
  	height: 40px;
}
.rectangle-parent4 {
  	position: absolute;
  	top: 0px;
  	left: 111px;
  	width: 83px;
  	height: 40px;
}
.div7 {
  	position: absolute;
  	top: 8px;
  	left: 27px;
  	font-weight: 900;
}
.rectangle-parent5 {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	width: 83px;
  	height: 40px;
}
.informaes-do-tenis {
  	position: absolute;
  	top: 1040px;
  	left: 238px;
  	width: 1447px;
  	height: 616px;
  	font-size: 64px;
}
.informaes-do-tenis-child {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	border-radius: 10px;
  	background-color: #d9d9d9;
  	width: 1447px;
  	height: 616px;
}
.detalhes-parent {
  	position: absolute;
  	top: 36px;
  	left: 97px;
  	width: 1250px;
  	height: 463px;
}
.detalhes {
  	position: absolute;
  	top: 137px;
  	left: 0px;
  	width: 1250px;
  	height: 326px;
}
.mostruario-1-detalhes {
  	position: absolute;
  	top: 0px;
  	left: 2px;
  	display: flex;
  	align-items: center;
  	justify-content: center;
  	width: 267px;
  	height: 60px;
}
.o-gel-nyc {
  	position: absolute;
  	top: 134px;
  	left: 0px;
  	font-size: 24px;
  	text-align: left;
  	display: flex;
  	align-items: center;
  	width: 1250px;
  	height: 192px;
}
.opes-parent {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	width: 576px;
  	height: 46px;
  	font-size: 48px;
}
.opes {
  	position: absolute;
  	top: 0px;
  	left: 28px;
  	width: 506px;
  	height: 46px;
}
.sobre {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	font-weight: 900;
  	display: flex;
  	align-items: center;
  	justify-content: center;
  	width: 161px;
  	height: 46px;
}
.avaliaes {
  	position: absolute;
  	top: 0px;
  	left: 237px;
  	font-weight: 900;
  	display: flex;
  	align-items: center;
  	justify-content: center;
  	width: 269px;
  	height: 46px;
}
.line-div {
  	position: absolute;
  	top: 0px;
  	left: 218px;
  	border-right: 1px solid #000;
  	box-sizing: border-box;
  	width: 1px;
  	height: 41px;
}
.group-child6 {
  	position: absolute;
  	top: 0px;
  	left: 576px;
  	border-right: 1px solid #000;
  	box-sizing: border-box;
  	width: 1px;
  	height: 41px;
}
.group-child7 {
  	position: absolute;
  	top: 3px;
  	left: 0px;
  	border-right: 1px solid #000;
  	box-sizing: border-box;
  	width: 1px;
  	height: 41px;
}
.frame-div {
  	position: absolute;
  	top: 145px;
  	left: 85px;
  	background-color: #d9d9d9;
  	width: 1050px;
  	height: 784px;
  	overflow: hidden;
}
.frame-child {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	background-color: #d9d9d9;
  	width: 1050px;
  	height: 784px;
}
.adobe-express-file-2 {
  	position: absolute;
  	top: 41px;
  	left: 211px;
  	width: 680px;
  	height: 680px;
  	object-fit: cover;
}
.jpg-7-removebg-preview-1-icon {
  	position: absolute;
  	top: 41px;
  	left: 1018px;
  	width: 680px;
  	height: 680px;
  	object-fit: cover;
}
.jpg-6-removebg-preview-1-icon {
  	position: absolute;
  	top: 52px;
  	left: 1928px;
  	width: 680px;
  	height: 680px;
  	object-fit: cover;
}
.jpg-4-removebg-preview-1-icon {
  	position: absolute;
  	top: 41px;
  	left: 2827px;
  	width: 680px;
  	height: 680px;
  	object-fit: cover;
}
.jpg-3-removebg-preview-1-icon {
  	position: absolute;
  	top: 41px;
  	left: 3649px;
  	width: 680px;
  	height: 680px;
  	object-fit: cover;
}
.jpg-2-removebg-preview-1-icon {
  	position: absolute;
  	top: 64px;
  	left: 5293px;
  	width: 680px;
  	height: 680px;
  	object-fit: cover;
}
.jpg-1-removebg-preview-1-icon {
  	position: absolute;
  	top: 40px;
  	left: 4471px;
  	width: 680px;
  	height: 680px;
  	object-fit: cover;
}
.frame-icon2 {
  	position: absolute;
  	top: 494px;
  	left: 1026px;
  	width: 80px;
  	height: 80px;
  	overflow-x: auto;
  	cursor: pointer;
}
.frame-icon3 {
  	position: absolute;
  	top: 502px;
  	left: 92px;
  	width: 80px;
  	height: 80px;
  	cursor: pointer;
}
.barra-icon {
  	position: absolute;
  	top: 0px;
  	left: 85px;
  	width: 1750px;
  	height: 103px;
  	object-fit: contain;
}
.rodape {
  	position: absolute;
  	top: 2550px;
  	left: 0px;
  	width: 1920px;
  	height: 224px;
  	color: #fff;
}
.rodape-child {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	background-color: #3e3d42;
  	width: 1920px;
  	height: 224px;
}
.criado-por {
  	position: absolute;
  	top: 25px;
  	left: 1680px;
  	display: flex;
  	align-items: center;
  	justify-content: center;
  	width: 174.7px;
}
.vinicius-alves {
  	position: absolute;
  	top: 130px;
  	left: 1684px;
}
.arthur-pereira {
  	position: absolute;
  	top: 77px;
  	left: 1684px;
}
.rodape-item {
  	position: absolute;
  	top: 179px;
  	left: 0px;
  	background-color: #343434;
  	width: 1920px;
  	height: 45px;
}
.clip-path-group {
  	position: absolute;
  	height: 84.38%;
  	width: 11.25%;
  	top: 5.8%;
  	right: 84.06%;
  	bottom: 9.82%;
  	left: 4.69%;
}
.group-icon {
  	position: absolute;
  	height: 137.99%;
  	width: 100%;
  	top: -25.58%;
  	right: 0%;
  	bottom: -12.41%;
  	left: 0%;
  	max-width: 100%;
  	overflow: hidden;
  	max-height: 100%;
  	object-fit: cover;
}

