<!DOCTYPE html>
<html>
<head>
  	<meta charset="utf-8">
  	<meta name="viewport" content="initial-scale=1, width=device-width">
  	
  	<link rel="stylesheet"  href="./index.css" />
  	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=[object Object]&display=swap" />
  	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=[object Object]&display=swap" />
  	
  	
  	
</head>
<body>
  	
  	<div class="mostruario-1">
    		<div class="wallpaper">
    		</div>
    		<div class="recomendaes-de-tenis">
      			<div class="card-tenis-1-parent">
        				<div class="card-tenis-1">
          					<div class="card-tenis-1-child">
          					</div>
          					<img class="card-tenis-1-item" alt="">
          					
          					<b class="r89999">R$899,99</b>
          					<div class="tnis-asics-gel-nyc">Tênis ASICS GEL-Nyc Rgd</div>
          					<img class="favoritar-1-icon" alt="">
          					
          					<img class="carrinho-1-icon" alt="">
          					
        				</div>
        				<div class="card-tenis-2">
          					<div class="card-tenis-2-child">
          					</div>
          					<img class="card-tenis-2-item" alt="">
          					
          					<b class="mostruario-1-r89999">R$899,99</b>
          					<div class="mostruario-1-tnis-asics-gel-nyc">Tênis ASICS GEL-NYC 2055</div>
          					<img class="favoritar-2-icon" alt="">
          					
          					<img class="carrinho-2-icon" alt="">
          					
        				</div>
        				<div class="card-tenis-3">
          					<div class="card-tenis-3-child">
          					</div>
          					<img class="card-tenis-3-item" alt="">
          					
          					<b class="r899992">R$899,99</b>
          					<div class="tnis-asics-gel-nyc2">Tênis ASICS GEL-NYC</div>
          					<img class="carrinho-3-icon" alt="">
          					
          					<img class="favoritar-3-icon" alt="">
          					
        				</div>
      			</div>
      			<div class="recomendaes">Recomendações</div>
      			<div class="botoes-de-recomendados">
        				<img class="botoes-de-recomendados-child" alt="">
        				
        				<img class="botoes-de-recomendados-item" alt="">
        				
      			</div>
    		</div>
    		<div class="area-da-compra">
      			<div class="area-da-compra-child">
      			</div>
      			<div class="nomeavaliao">
        				<div class="tnis-asics-gel-nyc3">Tênis ASICS GEL-NYC</div>
        				<img class="vecteezy-5-star-rating-review-icon" alt="">
        				
      			</div>
      			<div class="preoparcelas">
        				<i class="r-89999">R$ 899,99</i>
        				<i class="ou-ate-10x">ou ate 10x de</i>
        				<b class="r-71999">R$ 719,99</b>
        				<i class="r-7199"> R$ 71,99</i>
      			</div>
      			<div class="cor">
        				<i class="mostruario-1-cor">Cor:</i>
        				<div class="adobe-express-file-3-wrapper">
          					<img class="adobe-express-file-3" alt="">
          					
        				</div>
      			</div>
      			<div class="quantidade">
        				<i class="mostruario-1-quantidade">Quantidade:</i>
        				<div class="bt-adicionar">
          					<div class="bt-adicionar-child">
          					</div>
          					<img class="frame-icon" alt="">
          					
          					<b class="b">1</b>
          					<img class="mostruario-1-frame-icon" alt="">
          					
        				</div>
        				<div class="bt-compre">
          					<div class="bt-compre-child">
          					</div>
          					<i class="compre-aqui">Compre aqui</i>
        				</div>
      			</div>
      			<div class="seleo-de-tamanhos">
        				<i class="mostruario-1-cor">Tamanho:</i>
        				<div class="tamanhos">
          					<div class="rectangle-parent">
            						<div class="group-child">
            						</div>
            						<div class="div">43</div>
          					</div>
          					<div class="rectangle-group">
            						<div class="group-child">
            						</div>
            						<div class="mostruario-1-div">42</div>
          					</div>
          					<div class="rectangle-container">
            						<div class="group-child">
            						</div>
            						<div class="div2">41</div>
          					</div>
          					<div class="group-div">
            						<div class="group-child">
            						</div>
            						<div class="div">40</div>
          					</div>
          					<div class="mostruario-1-rectangle-parent">
            						<div class="group-child">
            						</div>
            						<div class="div">39</div>
          					</div>
          					<div class="rectangle-parent2">
            						<div class="group-child">
            						</div>
            						<div class="div">38</div>
          					</div>
          					<div class="rectangle-parent3">
            						<div class="group-child">
            						</div>
            						<div class="div2">37</div>
          					</div>
          					<div class="rectangle-parent4">
            						<div class="group-child">
            						</div>
            						<div class="div7">36</div>
          					</div>
          					<div class="rectangle-parent5">
            						<div class="group-child">
            						</div>
            						<div class="div2">35</div>
          					</div>
        				</div>
      			</div>
    		</div>
    		<div class="informaes-do-tenis">
      			<div class="informaes-do-tenis-child">
      			</div>
      			<div class="detalhes-parent">
        				<div class="detalhes">
          					<div class="mostruario-1-detalhes">Detalhes</div>
          					<div class="o-gel-nyc">O GEL-NYC™ é inspirado na história e em estilos modernos de corrida de performance.A construção do cabedal é uma referência ao GEL-NIMBUS™ 3 do começo dos anos 2000 e combina diversos detalhes de design do GEL-MC PLUS™ V.O contraste com as influências retro do cabedal vem do molde do modelo GEL-CUMULUS™ 16. Em uma combinação de espumas leves e inserções de tecnologia GEL™, o formato desta entressola ajuda a proporcionar conforto incrível na planta dos pés.Cabedal inspirado nos calçados GEL-NIMBUS™ 3 e GEL-MC PLUS™ VMolde do modelo GEL-CUMULUS™ 16Tecnologia GEL™ no calcanhar e na ponta Para conforto no dia a dia</div>
        				</div>
        				<div class="opes-parent">
          					<div class="opes">
            						<div class="sobre">Sobre</div>
            						<div class="avaliaes">Avaliações</div>
          					</div>
          					<div class="line-div">
          					</div>
          					<div class="group-child6">
          					</div>
          					<div class="group-child7">
          					</div>
        				</div>
      			</div>
    		</div>
    		<div class="frame-div">
      			<div class="frame-child">
      			</div>
      			<img class="adobe-express-file-2" alt="">
      			
      			<img class="jpg-7-removebg-preview-1-icon" alt="">
      			
      			<img class="jpg-6-removebg-preview-1-icon" alt="">
      			
      			<img class="jpg-4-removebg-preview-1-icon" alt="">
      			
      			<img class="jpg-3-removebg-preview-1-icon" alt="">
      			
      			<img class="jpg-2-removebg-preview-1-icon" alt="">
      			
      			<img class="jpg-1-removebg-preview-1-icon" alt="">
      			
    		</div>
    		<img class="frame-icon2" alt="" id="frame">
    		
    		<img class="frame-icon3" alt="" id="frame1">
    		
    		<img class="barra-icon" alt="">
    		
    		<div class="rodape">
      			<div class="rodape-child">
      			</div>
      			<b class="criado-por">Criado por</b>
      			<b class="vinicius-alves">Vinicius Alves</b>
      			<b class="arthur-pereira">Arthur Pereira</b>
      			<div class="rodape-item">
      			</div>
      			<div class="clip-path-group">
        				<img class="group-icon" alt="">
        				
      			</div>
    		</div>
  	</div>
  	
  	
  	
  	
  	<script>
    		var frame = document.getElementById("frame");
    		if(frame) {
      			frame.addEventListener("click", function (e) {
        				// Add your code here
      			});
    		}
    		
    		var frame1 = document.getElementById("frame1");
    		if(frame1) {
      			frame1.addEventListener("click", function (e) {
        				// Add your code here
      			});
    		}</script></body>
</html>