<div class="singup-container">
    <div class="text-container">
        <h1>Cadastrar</h1>
        <p>Crie sua conta aí!</p>
        <p>Corre que os lançamentos estão<br>voando das prateleiras.</p>
    </div>

    <form>
        <input type="text" placeholder="Nome Completo">
        <input type="text" placeholder="Email">
        <div class="password-container">
            <input type="password" placeholder="Senha">
            <button class="hidden-password">
                <i class="fa-solid fa-eye"></i>
                <i class="fa-solid fa-eye-slash hidden"></i>
            </button>
        </div>

        <div class="password-container">
            <input type="password" placeholder="Confirme a Senha">
            <button class="hidden-password">
                <i class="fa-solid fa-eye"></i>
                <i class="fa-solid fa-eye-slash hidden"></i>
            </button>
        </div>

        <button class="singup-action-btn">Cadastrar</button>
        <a href="/auth/singin" class="go-to-singin-btn">Já tem conta? Clique aqui!</a>
    </form>
</div>