<div class="singup-container">
    <div class="text-container">
        <h1>Cadastrar</h1>
        <p>Crie sua conta aí!</p>
        <p>Corre que os lançamentos estão<br>voando das prateleiras.</p>
    </div>

    <form (ngSubmit)="register()">
        <input type="text" placeholder="Nome Completo" [(ngModel)]="name" name="name" required>
        <input type="email" placeholder="Email" [(ngModel)]="email" name="email" required>
        <div class="password-container">
            <input [type]="showPassword ? 'text' : 'password'" placeholder="Senha" [(ngModel)]="password"
                name="password" required>
            <button type="button" class="hidden-password" (click)="togglePasswordVisibility()">
                <i class="fa-solid" [class.fa-eye]="!showPassword" [class.fa-eye-slash]="showPassword"></i>
            </button>
        </div>

        <div class="password-container">
            <input [type]="showConfirmPassword ? 'text' : 'password'" placeholder="Confirme a Senha"
                [(ngModel)]="confirmPassword" name="confirmPassword" required>
            <button type="button" class="hidden-password" (click)="toggleConfirmPasswordVisibility()">
                <i class="fa-solid" [class.fa-eye]="!showConfirmPassword"
                    [class.fa-eye-slash]="showConfirmPassword"></i>
            </button>
        </div>

        <button type="submit" class="singup-action-btn">Cadastrar</button>
        <a href="/auth/singin" class="go-to-singin-btn">Já tem conta? Clique aqui!</a>
    </form>
</div>