header {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;

    background-color: rgba(217, 217, 217, 0.25);;

    width: 100%;
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0 15px 0 15px;
    width: 90%;
    height: 100px;
}

.search-bar-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 550px;
    height: 50px;
    width: 750px;
}

.search-bar-container input {
    color: #FFF;
    font-weight: 700;
    letter-spacing: 0.5px;
    outline: none;
    background-color: transparent;

    border: 2.5px solid #131313;
    border-radius: 25px 0 0 25px;
    padding-left: 15px;
    width: 90%;
    height: 100%;
}

.search-bar-container input::placeholder {
    color: #FFF;
}

.search-bar-container button {
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #131313;
    color: #FFF;
    font-size: 20px;

    border: 2.5px solid #131313;
    border-radius: 0 25px 25px 0;
    height: 50px;
    width: 50px;

    cursor: pointer;
}

.search-bar-container button:hover {
    background-color: #FFF;
    color: #131313;
    font-size: 20px;
    border: 2.5px solid #131313;
    transition: 0.3s;
}

.logo-container img{
    height: 85px;
}

.icon-container {
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #131313;

    border-radius: 50%;
    height: 50px;
    width: 50px;
}

.icon-container {
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #131313;
    color: #FFF;
    font-size: 20px;

    border: 1px solid #131313;
    border-radius: 50%;
    height: 50px;
    width: 50px;

    cursor: pointer;
}

.icon-container:hover {
    background-color: #FFF;
    color: #131313;
    font-size: 20px;

    border: 2.5px solid #131313;
    
    scale: 1.1;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
    transition: 0.3s;
}

.icon-container a {
    color: #FFF;
}

.icon-container:hover a {
    color: #131313;
}

.go-to-login {
    color: #FFF;

    font-size: 20px;
    font-weight: 900;
    font-family: 'Inria Sans', sans-serif;

    text-decoration: none;
    text-transform: uppercase;
}

.go-to-login:hover {
    color: #CCC;
}