.inicio {
  	width: 100%;
  	height: 2932px;
  	position: relative;
  	border-radius: 15px;
  	background-color: #fff;
  	overflow: hidden;
  	text-align: center;
  	font-size: 64px;
  	color: #fff;
  	font-family: Inter;
}
.wallpaper {
  	position: absolute;
  	top: 0px;
  	left: 15px;
  	background-color: rgba(235, 144, 122, 0.1);
  	width: 1892px;
  	height: 2932px;
}
.inicio2 {
  	position: absolute;
  	top: -17px;
  	left: 15px;
  	width: 1892px;
  	height: 830px;
  	font-size: 300px;
  	color: #fffefe;
  	font-family: Rowdies;
}
.card-inicial {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	width: 1892px;
  	height: 830px;
}
.card-inicial-child {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	border-radius: 20px;
  	width: 1892px;
  	height: 830px;
}
.tenis-parent {
  	position: absolute;
  	top: 217px;
  	left: 293.59px;
  	width: 1304.8px;
  	height: 418px;
}
.tenis {
  	position: absolute;
  	top: 149px;
  	left: 0px;
  	display: flex;
  	align-items: center;
  	justify-content: center;
  	width: 1304.8px;
  	height: 269px;
}
.ultimas-ofertas {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	font-size: 64px;
  	color: #fff;
  	display: flex;
  	align-items: center;
  	justify-content: center;
  	width: 463.8px;
  	height: 130px;
}
.image-4-icon {
  	position: absolute;
  	top: 205.69px;
  	left: 638.81px;
  	width: 615.2px;
  	height: 615.2px;
  	object-fit: contain;
}
.inicio-child {
  	position: absolute;
  	top: 768px;
  	left: 1489.21px;
  	border-radius: 30px;
  	background-color: #561010;
  	width: 390px;
  	height: 57px;
}
.marcas {
  	position: absolute;
  	top: 1365px;
  	left: 85px;
  	width: 1750px;
  	height: 625px;
  	font-size: 48px;
  	color: #000;
}
.cards-de-marcas {
  	position: absolute;
  	top: 147px;
  	left: 0px;
  	width: 1750px;
  	height: 478px;
}
.card-nike {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	width: 399.7px;
  	height: 478px;
}
.card-nike-child {
  	position: absolute;
  	top: 0px;
  	left: 1.14px;
  	border-radius: 20px;
  	background-color: #d9d9d9;
  	width: 398.5px;
  	height: 478px;
}
.card-nike-item {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	border-radius: 20px;
  	width: 399.7px;
  	height: 353px;
  	object-fit: cover;
}
.nike {
  	position: absolute;
  	top: 368px;
  	left: 26.19px;
  	display: flex;
  	align-items: center;
  	justify-content: center;
  	width: 116.1px;
  	height: 39px;
}
.card-adidas {
  	position: absolute;
  	top: 0px;
  	left: 451px;
  	width: 399px;
  	height: 478px;
}
.card-adidas-child {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	border-radius: 20px;
  	background-color: #d9d9d9;
  	width: 399px;
  	height: 478px;
}
.card-adidas-item {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	border-radius: 20px;
  	width: 399px;
  	height: 353px;
  	object-fit: cover;
}
.adidas {
  	position: absolute;
  	top: 368px;
  	left: 29.64px;
  	display: flex;
  	align-items: center;
  	justify-content: center;
  	width: 212px;
  	height: 39px;
}
.card-puma {
  	position: absolute;
  	top: 0px;
  	left: 900px;
  	width: 400px;
  	height: 478px;
}
.card-puma-child {
  	position: absolute;
  	top: 0px;
  	left: 2px;
  	border-radius: 20px;
  	background-color: #d9d9d9;
  	width: 398px;
  	height: 478px;
}
.card-puma-item {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	border-radius: 20px;
  	width: 400px;
  	height: 353px;
  	object-fit: cover;
}
.puma {
  	position: absolute;
  	top: 374px;
  	left: 59px;
  	display: flex;
  	align-items: center;
  	justify-content: center;
  	width: 143px;
  	height: 39px;
}
.card-vans {
  	position: absolute;
  	top: 0px;
  	left: 1350px;
  	width: 400px;
  	height: 478px;
}
.card-vans-child {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	border-radius: 20px;
  	background-color: #d9d9d9;
  	width: 400px;
  	height: 478px;
}
.vans {
  	position: absolute;
  	top: 368px;
  	left: 28.57px;
  	display: flex;
  	align-items: center;
  	justify-content: center;
  	width: 130.3px;
  	height: 39px;
}
.inicio-marcas {
  	position: absolute;
  	top: 0px;
  	left: 97px;
  	font-size: 96px;
  	display: flex;
  	align-items: center;
  	justify-content: center;
  	width: 336px;
  	height: 90px;
}
.cards-de-seleo {
  	position: absolute;
  	top: 910px;
  	left: 86px;
  	width: 1745px;
  	height: 361px;
}
.card-infantil {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	width: 449px;
  	height: 361px;
}
.card-infantil-child {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	border-radius: 20px;
  	width: 449px;
  	height: 361px;
  	object-fit: cover;
}
.infantil {
  	position: absolute;
  	top: 225px;
  	left: 35.92px;
  	width: 375.4px;
  	height: 60px;
}
.infantil-child {
  	position: absolute;
  	top: 59.5px;
  	left: 3.09px;
  	border-top: 1px solid #fff;
  	box-sizing: border-box;
  	width: 371px;
  	height: 1px;
  	transform:  rotate(-0.2deg);
  	transform-origin: 0 0;
}
.inicio-infantil {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	display: flex;
  	align-items: center;
  	justify-content: center;
  	width: 375.4px;
  	height: 42px;
}
.card-feminino {
  	position: absolute;
  	top: 0px;
  	left: 549px;
  	width: 500px;
  	height: 360px;
}
.card-feminino-child {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	border-radius: 20px;
  	width: 500px;
  	height: 360px;
  	object-fit: cover;
}
.feminino {
  	position: absolute;
  	top: 222px;
  	left: 13.33px;
  	width: 473.3px;
  	height: 62px;
}
.feminino-child {
  	position: absolute;
  	top: 61.5px;
  	left: 27.83px;
  	border-top: 1px solid #fff;
  	box-sizing: border-box;
  	width: 417.7px;
  	height: 1px;
  	transform:  rotate(-0.1deg);
  	transform-origin: 0 0;
}
.inicio-feminino {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	display: flex;
  	align-items: center;
  	justify-content: center;
  	width: 473.3px;
  	height: 42px;
}
.card-masculino {
  	position: absolute;
  	top: 0px;
  	left: 1149px;
  	width: 596px;
  	height: 361px;
}
.card-masculino-child {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	border-radius: 20px;
  	width: 596px;
  	height: 361px;
  	object-fit: cover;
}
.masculino {
  	position: absolute;
  	top: 223px;
  	left: 122.45px;
  	width: 351.1px;
  	height: 62px;
}
.masculino-child {
  	position: absolute;
  	top: 62px;
  	left: 13px;
  	border-top: 1px solid #fff;
  	box-sizing: border-box;
  	width: 327.2px;
  	height: 1px;
}
.inicio-masculino {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	display: flex;
  	align-items: center;
  	justify-content: center;
  	width: 351.1px;
  	height: 42px;
}
.botoes-de-compra {
  	position: absolute;
  	top: 2067px;
  	left: 429px;
  	width: 1051px;
  	height: 72px;
  	font-size: 24px;
  	color: #000;
}
.garantia {
  	position: absolute;
  	top: 0px;
  	left: 400px;
  	width: 251px;
  	height: 72px;
}
.garantia-child {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	border-radius: 20px;
  	background-color: #d9d9d9;
  	width: 251px;
  	height: 72px;
}
.frame-icon {
  	position: absolute;
  	top: 16px;
  	left: 0px;
  	width: 40px;
  	height: 40px;
}
.compra-garantida {
  	position: absolute;
  	top: 25px;
  	left: 43px;
  	display: flex;
  	align-items: center;
  	justify-content: center;
  	width: 208px;
  	height: 22px;
}
.entrega {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	width: 250px;
  	height: 72px;
}
.entrega-child {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	border-radius: 20px;
  	background-color: #d9d9d9;
  	width: 250px;
  	height: 72px;
}
.entrega-gratis {
  	position: absolute;
  	top: 24px;
  	left: 72px;
  	display: flex;
  	align-items: center;
  	justify-content: center;
  	width: 163px;
  	height: 24px;
}
.inicio-frame-icon {
  	position: absolute;
  	top: 16px;
  	left: 14px;
  	width: 40px;
  	height: 40px;
}
.desconto {
  	position: absolute;
  	top: 0px;
  	left: 801px;
  	width: 250px;
  	height: 72px;
}
.inicio-desconto {
  	position: absolute;
  	top: 24px;
  	left: 94px;
  	display: flex;
  	align-items: center;
  	justify-content: center;
  	width: 111px;
  	height: 22px;
}
.frame-icon2 {
  	position: absolute;
  	top: 16px;
  	left: 32px;
  	width: 40px;
  	height: 40px;
}
.card-de-promoo {
  	position: absolute;
  	top: 2216px;
  	left: 185px;
  	width: 1550px;
  	height: 380px;
  	text-align: left;
  	font-family: Rowdies;
}
.card-de-promoo-child {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	border-radius: 20px;
  	background: linear-gradient(180deg, #cba89e, #7e5959);
  	width: 1550px;
  	height: 380px;
}
.botao {
  	position: absolute;
  	height: 11.84%;
  	width: 14.05%;
  	top: 76.05%;
  	right: 6.87%;
  	bottom: 12.11%;
  	left: 79.08%;
  	border-radius: 20px;
  	background-color: #561010;
  	border: 1px solid #000;
  	box-sizing: border-box;
}
.informaes {
  	position: absolute;
  	height: 83.16%;
  	width: 91.43%;
  	top: 8.16%;
  	right: 6.44%;
  	bottom: 8.68%;
  	left: 2.13%;
}
.tnis-para-o {
  	position: absolute;
  	height: 33.23%;
  	width: 42.17%;
  	top: 6.01%;
  	left: 57.82%;
  	display: flex;
  	align-items: center;
}
.com-o-vero {
  	position: absolute;
  	top: 158px;
  	left: 813px;
  	font-size: 20px;
  	font-weight: 300;
  	display: flex;
  	align-items: center;
  	width: 586.8px;
}
.nike-dunk-low {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	display: flex;
  	align-items: center;
  	width: 318px;
  	height: 316px;
}
.image-11-icon {
  	position: absolute;
  	top: 2165px;
  	left: 469px;
  	width: 444px;
  	height: 444px;
  	object-fit: cover;
}
.barra-icon {
  	position: absolute;
  	top: 0px;
  	left: 86px;
  	width: 1750px;
  	height: 103px;
  	object-fit: contain;
}
.rodape {
  	position: absolute;
  	top: 2708px;
  	left: 0px;
  	width: 1920px;
  	height: 224px;
  	font-size: 24px;
}
.rodape-child {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	background-color: #3e3d42;
  	width: 1920px;
  	height: 224px;
}
.criado-por {
  	position: absolute;
  	top: 25px;
  	left: 1680px;
  	display: flex;
  	align-items: center;
  	justify-content: center;
  	width: 174.7px;
}
.vinicius-alves {
  	position: absolute;
  	top: 130px;
  	left: 1684px;
}
.arthur-pereira {
  	position: absolute;
  	top: 77px;
  	left: 1684px;
}
.rodape-item {
  	position: absolute;
  	top: 179px;
  	left: 0px;
  	background-color: #343434;
  	width: 1920px;
  	height: 45px;
}
.clip-path-group {
  	position: absolute;
  	height: 84.38%;
  	width: 11.25%;
  	top: 5.8%;
  	right: 84.06%;
  	bottom: 9.82%;
  	left: 4.69%;
}
.group-icon {
  	position: absolute;
  	height: 137.99%;
  	width: 100%;
  	top: -25.58%;
  	right: 0%;
  	bottom: -12.41%;
  	left: 0%;
  	max-width: 100%;
  	overflow: hidden;
  	max-height: 100%;
  	object-fit: cover;
}

