<!DOCTYPE html>
<html>
<head>
  	<meta charset="utf-8">
  	<meta name="viewport" content="initial-scale=1, width=device-width">
  	
  	<link rel="stylesheet"  href="./index.css" />
  	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=[object Object]&display=swap" />
  	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=[object Object]&display=swap" />
  	
  	
  	
</head>
<body>
  	
  	<div class="inicio">
    		<div class="wallpaper">
    		</div>
    		<div class="inicio2">
      			<div class="card-inicial">
        				<img class="card-inicial-child" alt="">
        				
        				<div class="tenis-parent">
          					<div class="tenis">TENIS</div>
          					<div class="ultimas-ofertas">ULTIMAS OFERTAS</div>
        				</div>
        				<img class="image-4-icon" alt="">
        				
      			</div>
      			<div class="inicio-child">
      			</div>
    		</div>
    		<div class="marcas">
      			<div class="cards-de-marcas">
        				<div class="card-nike">
          					<div class="card-nike-child">
          					</div>
          					<img class="card-nike-item" alt="">
          					
          					<div class="nike">Nike</div>
        				</div>
        				<div class="card-adidas">
          					<div class="card-adidas-child">
          					</div>
          					<img class="card-adidas-item" alt="">
          					
          					<div class="adidas">Adidas </div>
        				</div>
        				<div class="card-puma">
          					<div class="card-puma-child">
          					</div>
          					<img class="card-puma-item" alt="">
          					
          					<div class="puma">Puma</div>
        				</div>
        				<div class="card-vans">
          					<div class="card-vans-child">
          					</div>
          					<img class="card-puma-item" alt="">
          					
          					<div class="vans">Vans</div>
        				</div>
      			</div>
      			<div class="inicio-marcas">Marcas</div>
    		</div>
    		<div class="cards-de-seleo">
      			<div class="card-infantil">
        				<img class="card-infantil-child" alt="">
        				
        				<div class="infantil">
          					<div class="infantil-child">
          					</div>
          					<div class="inicio-infantil">Infantil</div>
        				</div>
      			</div>
      			<div class="card-feminino">
        				<img class="card-feminino-child" alt="">
        				
        				<div class="feminino">
          					<div class="feminino-child">
          					</div>
          					<div class="inicio-feminino">Feminino</div>
        				</div>
      			</div>
      			<div class="card-masculino">
        				<img class="card-masculino-child" alt="">
        				
        				<div class="masculino">
          					<div class="masculino-child">
          					</div>
          					<div class="inicio-masculino">Masculino</div>
        				</div>
      			</div>
    		</div>
    		<div class="botoes-de-compra">
      			<div class="garantia">
        				<div class="garantia-child">
        				</div>
        				<img class="frame-icon" alt="">
        				
        				<div class="compra-garantida">Compra Garantida</div>
      			</div>
      			<div class="entrega">
        				<div class="entrega-child">
        				</div>
        				<div class="entrega-gratis">Entrega Gratis</div>
        				<img class="inicio-frame-icon" alt="">
        				
      			</div>
      			<div class="desconto">
        				<div class="entrega-child">
        				</div>
        				<div class="inicio-desconto">Desconto</div>
        				<img class="frame-icon2" alt="">
        				
      			</div>
    		</div>
    		<div class="card-de-promoo">
      			<div class="card-de-promoo-child">
      			</div>
      			<div class="botao">
      			</div>
      			<div class="informaes">
        				<div class="tnis-para-o">Tênis para o fim do verão</div>
        				<div class="com-o-vero">Com o verão a todo vapor, trazendo consigo um clima mais quente. Para ajudá-lo a preparar sua lista de melhores tênis para serem comprados, reunimos uma seleção de cores que o irão acompanhar em diversas ocasiões.</div>
        				<div class="nike-dunk-low">Nike Dunk Low Rose Whisper</div>
      			</div>
    		</div>
    		<img class="image-11-icon" alt="">
    		
    		<img class="barra-icon" alt="">
    		
    		<div class="rodape">
      			<div class="rodape-child">
      			</div>
      			<b class="criado-por">Criado por</b>
      			<b class="vinicius-alves">Vinicius Alves</b>
      			<b class="arthur-pereira">Arthur Pereira</b>
      			<div class="rodape-item">
      			</div>
      			<div class="clip-path-group">
        				<img class="group-icon" alt="">
        				
      			</div>
    		</div>
  	</div>
  	
  	
  	
  	
</body>
</html>