<div class="card-promocao">
  <div class="card-content">

    <div class="card-textos">
      <h2 class="card-titulo">Tênis para o fim do verão</h2>

      <h3 class="card-subtitulo">Nike Dunk Low Rose Whisper</h3>

      <p class="card-desc">
        Com o verão a todo vapor, trazendo consigo um clima mais quente.
        Para ajudá-lo a preparar sua lista de melhores tênis para serem comprados,
        reunimos uma seleção de cores que irão acompanhar você em diversas ocasiões.
      </p>

      <button class="botao-comprar">Comprar agora</button>
    </div>

    <div class="card-imagem">
      <img src="assets/Tenis-rosa.png" alt="Tênis promocional">
    </div>

  </div>
</div>
