.usuario {
    width: 100%;
    height: 924px;
    position: relative;
    background-color: #fdf4f2;
    overflow: hidden;
    text-align: left;
    font-size: 32px;
    color: #000;
    font-family: Inter;
}
.usuario-child {
    position: absolute;
    top: 0px;
    left: calc(50% - 960px);
    width: 1435px;
    height: 924px;
    flex-shrink: 0;
}
.usuario-item {
    position: absolute;
    top: 0px;
    left: 1435px;
    background-color: #979290;
    width: 485px;
    height: 924px;
    flex-shrink: 0;
}
.image-icon {
    position: absolute;
    top: 93px;
    left: 85px;
    border-radius: 50%;
    width: 250px;
    height: 250px;
    object-fit: cover;
    flex-shrink: 0;
}
.minha-conta {
    position: absolute;
    top: 53px;
    left: 1579px;
    font-size: 48px;
    color: #fff;
    flex-shrink: 0;
}
.frame-icon {
    position: absolute;
    top: 55px;
    left: 1461px;
    width: 50px;
    height: 50px;
    flex-shrink: 0;
}
.arthur-pereira {
    position: absolute;
    top: 141px;
    left: 391px;
    font-size: 64px;
    flex-shrink: 0;
}
.usuario-inner {
    position: absolute;
    top: 537px;
    left: 85px;
    border-radius: 10px;
    background-color: #d9d9d9;
    width: 600px;
    height: 279px;
    flex-shrink: 0;
}
.rectangle-div {
    position: absolute;
    top: 537px;
    left: 785px;
    border-radius: 10px;
    background-color: #d9d9d9;
    width: 600px;
    height: 279px;
    flex-shrink: 0;
}
.clip-path-group {
    position: absolute;
    height: 27.92%;
    width: 25.89%;
    top: 9.67%;
    right: 28.8%;
    bottom: 62.41%;
    left: 45.31%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    flex-shrink: 0;
}
.emailqualquergmailcom {
    position: absolute;
    top: 218px;
    left: 391px;
    font-size: 40px;
    font-weight: 200;
    flex-shrink: 0;
}
.usuario-frame-icon {
    position: absolute;
    top: 563px;
    left: 115px;
    width: 70px;
    height: 70px;
    flex-shrink: 0;
}
.frame-icon2 {
    position: absolute;
    top: 563px;
    left: 835px;
    width: 70px;
    height: 70px;
    flex-shrink: 0;
}
.informaes-pessoais {
    position: absolute;
    top: 578px;
    left: 237px;
    font-weight: 600;
    text-align: center;
    flex-shrink: 0;
}
.suas-compras {
    position: absolute;
    top: 578px;
    left: 957px;
    font-weight: 600;
    text-align: center;
    flex-shrink: 0;
}
.aqui-voce-vera {
    position: absolute;
    top: 633px;
    left: 121px;
    font-size: 24px;
    display: flex;
    align-items: center;
    width: 512px;
    height: 108px;
    flex-shrink: 0;
}
.historico-de-todas {
    position: absolute;
    top: 633px;
    left: 835px;
    font-size: 24px;
    display: flex;
    align-items: center;
    width: 512px;
    height: 77px;
    flex-shrink: 0;
}
.group-icon {
    position: absolute;
    height: 66.02%;
    width: 25.89%;
    top: -6.82%;
    right: 25.78%;
    bottom: 40.8%;
    left: 48.33%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
    flex-shrink: 0;
}