<div class="cadastro-container">
    <span>Cadastrar</span>
    <p>Crie sua conta aí!</p>
    <p>Corre que os lançamentos estão voando das prateleiras.</p>

    <form>
        <input type="text" placeholder="Nome Completo">
        <input type="text" placeholder="Email">
        <div class="password-container">
            <input type="password" placeholder="Senha">
            <button class="hidden-password">
                <i class="fa-solid fa-eye"></i>
                <i class="fa-solid fa-eye-slash"></i>
            </button>
        </div>

        <div class="password-container">
            <input type="password" placeholder="Confirme a Senha">
            <button class="hidden-password">
                <i class="fa-solid fa-eye"></i>
                <i class="fa-solid fa-eye-slash"></i>
            </button>
        </div>

        <button class="cadastrar-action-btn">Cadastrar</button>
        <a href="#" class="login-page">Já tem conta? Clique aqui!</a>
    </form>
</div>