.rodape {
  width: 100%;
  background-color: #3e3d42;
  color: #fff;
  font-family: Inter, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.rodape-conteudo{
	display: flex;
	justify-content: space-between;
	background-color: #3e3d42;
	align-items: center;
	width: 100%;
	padding: 2rem;
	flex-wrap: wrap;
	text-align: center;
}
.rodape-logo img{
	width: 150px;
	height: auto;
}

.rodape-textos {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 0.3rem;
}

.criado-por{
	font-weight: 600;
	font-size: 18px;
}

.nomes {
	font-size: 16px;
	font-weight: 400;
}

.rodape-barra {
	width: 100%;
	background-color: #343434;
	text-align: center;
	padding: 1rem 0;
}

.rodape-direitos{
	font-size: 14px;
	margin: 0;
}