<div class="rodape">
    <div class="rodape-child">
    </div>
    <b class="criado-por">Criado por</b>
    <b class="vinicius-alves">Vinicius Alves</b>
    <b class="arthur-pereira">Arthur Pereira</b>
    <div class="rodape-item">
    </div>
    <div class="clip-path-group">
        <div class="group">
            <div class="mask-group">
                <div class="mask-group">
                    <div class="mask-group">
                        <img class="rectangle-icon" alt="">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>