<header>
    <main class="header-content">
        <figure class="logo-container">
            <img src="assets/logo-nome-frontal-sneakers-sfundo.svg" alt="Logo Frontal Sneakers">
        </figure>

        <div class="search-bar-container">
            <input id="search-bar" type="text" placeholder="O que procura hoje?">
            <button id="search-btn" class="icon-container">
                <i class="fa-solid fa-magnifying-glass"></i>
            </button>
        </div>

        <span class="icon-container">
            <i class="fa-solid fa-cart-shopping"></i>
        </span>

        <span class="icon-container">
            <i class="fa-solid fa-user"></i>
        </span>
    </main>
</header>