.login {
  	width: 100%;
  	height: 1024px;
  	position: relative;
  	background-color: #fdf4f2;
  	overflow: hidden;
  	text-align: center;
  	font-size: 16px;
  	color: rgba(0, 0, 0, 0.3);
  	font-family: 'Inria Sans';
}
.login-child {
  	position: absolute;
  	top: -606px;
  	left: 363px;
  	width: 2510px;
  	height: 2510px;
}
.login-bar {
  	position: absolute;
  	top: 50px;
  	left: calc(50% - 869px);
  	width: 628px;
  	height: 869px;
}
.login-bar-child {
  	position: absolute;
  	top: 0px;
  	left: calc(50% - 314px);
  	box-shadow: 35.66666793823242px -35.66666793823242px 35.67px rgba(165, 165, 165, 0.18) inset, -35.66666793823242px 35.66666793823242px 35.67px rgba(255, 255, 255, 0.18) inset;
  	backdrop-filter: blur(112.71px);
  	border-radius: 45px;
  	background-color: rgba(217, 217, 217, 0.18);
  	width: 628px;
  	height: 869px;
}
.login-in {
  	position: absolute;
  	top: 50px;
  	left: calc(50% - 87px);
  	font-size: 40px;
  	display: inline-block;
  	color: #000;
  	width: 176.2px;
  	height: 59.5px;
}
.bem-vindo-de-volta-container {
  	position: absolute;
  	top: 120px;
  	left: calc(50% - 245px);
  	font-size: 32px;
  	font-weight: 300;
  	color: #000;
  	display: flex;
  	align-items: center;
  	width: 491px;
  	height: 143px;
}
.login-bem-vindo-de-volta-container {
  	width: 100%;
}
.bem-vindo-de-volta {
  	margin: 0;
}
.email {
  	position: absolute;
  	top: 311px;
  	left: calc(50% - 278px);
  	width: 558.3px;
  	height: 86.8px;
  	font-size: 20px;
}
.email-child {
  	position: absolute;
  	top: 0px;
  	left: calc(50% - 279.15px);
  	box-shadow: 3.4666666984558105px -3.4666666984558105px 3.47px rgba(182, 182, 182, 0.4) inset, -3.4666666984558105px 3.4666666984558105px 3.47px rgba(255, 255, 255, 0.4) inset;
  	backdrop-filter: blur(34.67px);
  	border-radius: 20px;
  	background-color: rgba(0, 0, 0, 0.1);
  	width: 558.3px;
  	height: 86.8px;
}
.email-address {
  	position: absolute;
  	top: calc(50% - 14.87px);
  	left: calc(50% - 233.25px);
  	display: inline-block;
  	width: 152.6px;
  	height: 29.8px;
}
.pass {
  	position: absolute;
  	top: 457.54px;
  	left: calc(50% - 277.74px);
  	width: 558.3px;
  	height: 86.8px;
  	font-size: 20px;
}
.password {
  	position: absolute;
  	top: calc(50% - 14.87px);
  	left: calc(50% - 233.25px);
  	display: inline-block;
  	width: 105.5px;
  	height: 29.8px;
}
.eyeoff-icon {
  	position: absolute;
  	top: 33.5px;
  	left: 486.32px;
  	width: 24.8px;
  	height: 24.8px;
  	opacity: 0.3;
}
.sign-in {
  	position: absolute;
  	top: 673px;
  	left: calc(50% - 104px);
  	width: 208.8px;
  	height: 61.9px;
}
.sign-in-child {
  	position: absolute;
  	top: 0px;
  	left: calc(50% - 104.4px);
  	box-shadow: 3.4666666984558105px -3.4666666984558105px 3.47px rgba(182, 182, 182, 0.4) inset, -3.4666666984558105px 3.4666666984558105px 3.47px rgba(255, 255, 255, 0.4) inset;
  	backdrop-filter: blur(34.67px);
  	border-radius: 20px;
  	background-color: #34a853;
  	width: 208.8px;
  	height: 61.9px;
}
.login-login-in {
  	position: absolute;
  	top: calc(50% - 12.23px);
  	left: calc(50% - 41.03px);
  	display: inline-block;
  	width: 83.5px;
  	height: 25.9px;
}
.sign-up {
  	position: absolute;
  	top: 756.79px;
  	left: calc(50% - 33.62px);
  	text-decoration: underline;
  	display: inline-block;
  	color: rgba(51, 127, 255, 0.8);
  	width: 64.5px;
  	height: 23.6px;
}
.forget-password {
  	position: absolute;
  	top: 575.4px;
  	left: calc(50% - 250.44px);
  	text-decoration: underline;
  	display: inline-block;
  	width: 142.7px;
  	height: 23.6px;
}
.frontal-sneakers-logo-1-1 {
  	position: absolute;
  	top: -119px;
  	left: 719px;
  	width: 1248px;
  	height: 1248px;
  	object-fit: cover;
}

