<!DOCTYPE html>
<html>
<head>
  	<meta charset="utf-8">
  	<meta name="viewport" content="initial-scale=1, width=device-width">
  	
  	<link rel="stylesheet"  href="./login.component.css" />
  	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=[object Object]&display=swap" />
  	
  	
  	
</head>
<body>
  	
  	<div class="login">
    		<img class="login-child" alt="">
    		
    		<div class="login-bar">
      			<div class="login-bar-child">
      			</div>
      			<b class="login-in">Login In</b>
      			<div class="bem-vindo-de-volta-container">
        				<span class="login-bem-vindo-de-volta-container">
          					<p class="bem-vindo-de-volta">Bem-vindo de volta!</p>
          					<p class="bem-vindo-de-volta">Bora garantir aquele drop antes que acabe?</p>
        				</span>
      			</div>
      			<div class="email">
        				<div class="email-child">
        				</div>
        				<b class="email-address">Email address</b>
      			</div>
      			<div class="pass">
        				<div class="email-child">
        				</div>
        				<b class="password">Password</b>
        				<img class="eyeoff-icon" alt="">
        				
      			</div>
      			<div class="sign-in">
        				<div class="sign-in-child">
        				</div>
        				<b class="login-login-in">Login in</b>
      			</div>
      			<b class="sign-up">Sign up</b>
      			<b class="forget-password">forget password </b>
    		</div>
    		<img class="frontal-sneakers-logo-1-1" alt="">
    		
  	</div>
  	
  	
  	
  	
</body>
</html>