<div class="page-wrapper">
    <app-header></app-header>
    <main class="catalog-page-content">
        <app-banner-catalog></app-banner-catalog>
        <section class="catalog-container">
            <header class="catalog-header">
                <span class="catalog-title">Tênis</span>
                <span class="sort-options">
                    <p>Filtre por:</p>
                    <select (change)="onSortChange($event)" class="sort-select">
                        <option *ngFor="let option of sortOptions" [value]="option.value">{{ option.label }}</option>
                    </select>
                </span>
            </header>

            <div class="product-grid">
                <app-product-card *ngFor="let product of products" [product]="product"></app-product-card>
            </div>

            <div class="load-more-container" *ngIf="hasMore">
                <button (click)="loadMore()" class="load-more-btn">Mostrar Mais</button>
            </div>
        </section>
    </main>
    <app-rodape></app-rodape>
</div>