<main class="main-container">
    <h2>Meus Pedidos</h2>

    <div class="cards-list">
        <div *ngFor="let order of orders" class="card-item">
            <div class="card-info">
                <span class="card-nickname">Pedido {{ order.id }}</span>
                <span class="card-holder">Data: {{ order.date }}</span>
                <span class="card-number">{{ order.value }}</span>
            </div>
            <div class="order-status" [ngClass]="getStatusClass(order.status)">
                {{ order.status }}
            </div>
        </div>
    </div>
</main>