<div class="banner-container">
  <div class="left-content">
    <h2 class="banner-title">Procurando algo mais casual?</h2>
    <p class="banner-description">Quer um modelo como esse, perfeito para quem busca estilo sem esforço. Seja para um rolê no fim de semana ou para compor um visual mais descontraído, essa lista combina com tudo.</p>
  </div>

  <div class="right-content">
    <h2 class="sneaker-name">Vans Sk8 Floral Edition</h2>
    <img src="assets/banner-vans-img.svg" alt="Vans Sk8 Floral Edition">
  </div>
</div>
